html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #283541, #7b8fa1);
    overflow: hidden;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 27px;
}

#content {
    background-image: linear-gradient(to top, #283541, #7b8fa1);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.5s;
}

#field {
    background-image: linear-gradient(to top, #8c8c8c, #e8e6e6);
    padding-bottom: 15px;
    position: relative;
    width: 90%;
    height: 86%;
    overflow-y: scroll;
    overflow-x: hidden;
    //box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#text-content {
    position: absolute;
    color: black;
    width: 97%;
    height: 100%;
    font-size: 20px;
    font-family: helvetica;
    text-align: center;
}

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -10px;
    background-color: #d9d5d5;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border: solid black;
}

#sidelink {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3b58be;
    display: block;
    cursor: pointer;
    transition: 0.2s;
}

#sidelink:hover {
    color: #0135d3;
}

#sidecat {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #093cd2;
    font-weight: bold;
}

#closesidenav {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
}

#opensidenav {
    align-self: baseline;
    position: fixed;
    font-size: 40px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    transition: 0.3s;
    border: none;
}

#opensidenav:hover {
    color: #d9d2d2;
}

#test {
    cursor: unset;
    font-weight: bold;
}

#button, .button {
    position: relative;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family: helvetica;
    color: black;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    background-color: #dadada;
}

#buttona {
    position: relative;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family: helvetica;
    color: #278a17;
    border-radius: 5px;
    border-color: #278a17;
    border-style: solid;
    cursor: pointer;
    background-color: #dadada;
}

#button:hover, .button:hover {
    background-color: #c2c2c2;
}

#button:active, .button:active {
    background-color: #a1a0a0;
}

#buttona:hover {
    background-color: #9ed798;
}

#randNum {
    font-size: 42px;
}

#lcinput {
    width: 1000px;
    height: 150px;

}

#golCanvas {
    width: 400px;
    height: 400px;
    border: black 1px solid;
}

#alink {
    cursor: pointer;
    color: blue;
}

#alink:hover {
    text-decoration: underline;
}

.shaking {
    animation: .8s shake infinite alternate;
}

@keyframes shake {
    0% {transform: rotate(5deg)}
    5% {transform: rotate(-5deg)}
    10% {transform: rotate(5deg)}
    15% {transform: rotate(-5deg)}
    20% {transform: rotate(5deg)}
    25% {transform: rotate(-5deg)}
    30% {transform: rotate(5deg)}
    35% {transform: rotate(-5deg)}
    40% {transform: rotate(5deg)}
    45% {transform: rotate(-5deg)}
    50% {transform: rotate(5deg)}
    55% {transform: rotate(-5deg)}
    60% {transform: rotate(5deg)}
    65% {transform: rotate(-5deg)}
    70% {transform: rotate(5deg)}
    75% {transform: rotate(-5deg)}
    80% {transform: rotate(5deg)}
    85% {transform: rotate(-5deg)}
    90% {transform: rotate(5deg)}
    95% {transform: rotate(-5deg)}
    100% {transform: rotate(5deg)}
}